<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<form method="post" enctype="multipart/form-data" style="text-align: center;">
    {% csrf_token %}
<table border="1" align="center" cellpadding="5">
    <tr>
        <th><label for="txt_number1">No 1:</label></th>
        <td><input type="number" name="txt_number1" id="txt_number1"></td>
    </tr>
    <tr>
        <th><label for="txt_number2">No 2:</label></th>
        <td><input type="number" name="txt_number2" id="txt_number2"></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" name="btnsubmit" value="+">
            <input type="submit" name="btnsubmit" value="-">
            <input type="submit" name="btnsubmit" value="*">
            <input type="submit" name="btnsubmit" value="/">
        </td>
    </tr>
    <tr>
            <td>Result</td>
        <td>{{result}}</td>

    </tr>
</table>
</form>
</body>
</html>
